/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Show Alert */
.alert {
  padding: 16px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
}

.error {
  background-color: red;
}

/* container */
.container {
  max-width: 1120px;
  margin: auto;
  padding: 0px 10px;
}

a{
  text-decoration: none;
  color: #fff;
}

/* Button */
.btn-center{
  font-size: 18px;
  max-width: 75%;
  margin: auto;
  text-align: center;
  background-color:#4582EC;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
}

.btn-center:hover{
  background-color:#598fec;
}

/* Span Color */
.badge-first {
  background-color: #4582EC;
  color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
}

.badge-second {
  background-color: #ADB5BD;
  color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
}

.badge-three {
  background-color: #02B875;
  color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
}

.badge-four {
  background-color: #17A2B8;
  color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
}

/* Navbar */
.container .navbar {
  padding: 1rem 10px;
  background-color: #4582EC;
}

.navbar-brand {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}

i {
  font-size: 2rem
}

/* Card Content */
.container .card-border {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.search-card h1 {
  padding: 15px 4px;
}

/* filter */
#searchUser {
  background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
  background-size: 21px 21px;
  background-position: 20px 15px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 16px 30px 16px 55px;
  border: 1px solid #ddd;
  /* margin-bottom: 12px; */
  border-radius: 100px;
  outline: none;
  transition: 0.5s;
}

#searchUser::placeholder {
  color: #9EA1A7;
}

#searchUser:hover {
  border: 1px solid #aaa;
}

/* profile section */
#profile {
  margin-top: 4rem;
}

#profile .page-heading{
  font-size: 2rem;
  padding: 1rem 0px;
  color: #02B875;
}

#profile .card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

#profile .card-content {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 2rem;
}

.card .img-fluid {
  width: 100%;
  border-radius: 5px;
}

#profile .selt-m {
  margin: 7px 2px;
  margin-bottom: 4rem;
}

#profile .colum-2 .list-group {
  margin-top: 3rem;
}

/* profile section in the list group */
#profile .colum-2 .list-group li {
  list-style: none;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  padding: 13px 5px;
}

/* Repos Section */
#repos {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 15px;
}

#repos .card-colum {
  display: flex;
  justify-content: space-around;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 12px;
}

#repos .card .link a {
  font-size: 17px;
  text-transform: capitalize;
  color: #333;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #333;
}

#repos .card .link a:hover {
  color: #555555;
  border-bottom: none;
}

/* footer section */
.footer {
  max-width: 1118px;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  background-color: #dee2e6;
  color: #000;
  border-radius: 5px;
}